build
bulld/*
build/**
dist
dist/*
dist/**
jupyter_integration_sharedmod.egg-info
jupyter_integration_sharedmod.egg-info/*
jupyter_integration_sharedmod.egg-info/**
__pycache__
__pycache__/*
__pycache__/**
*/__pycache__
**/__pycache__
*/__pycache__/*
**/__pycache__/**
